<%- include("../partials/header.ejs") %>
<main>
    <div style="margin-top: 100px; text-align: center;">
        <h1 style="font-size: 4rem; font-weight: bold; margin-bottom: 50px;">Ex-Directors and Mentors</h1>
    </div>
    <% if(mentors.length > 0) { %>
        <div class="container directors">
            <div class="row">
        <% for(let mentor of mentors) { %>
            <div class="col-md-4">
                <div class="card">
                    <img src="<%= mentor.img %> " class="card-img-top" alt="PCI TEST">
                    <div class="card-body card_body">
                        <h5 class="card-title">Name: <%= mentor.name %></h5>
                        <p class="card-text"></p>
                    </div>
                </div>
            </div>
        <% } %>
    </div>
    </div>
    <% }else{ %>
    <div>
        No events
    </div>
    <% } %>
</main>

<%- include("../partials/footer.ejs") %>