<%- include("../partials/header.ejs") %>
<main>
    <% if(execomms.length > 0) { %>
    <div>
        <% for(let execomm of execomms) { %>
        <div>
            <%= execomm.name %>
        </div>
        <div>
            <a style="border: 2px solid red;" href="<%= execomm.img %>"></a>
        </div>
        <% } %>
    </div>
    <% }else{ %>
    <div>
        No events
    </div>
    <% } %>
</main>

<%- include("../partials/footer.ejs") %>