<%- include("../partials/header.ejs") %>
<main>
    <div style="margin-top: 100px; text-align: center;">
        <h1 style="font-size: 4rem; font-weight: bold; margin-bottom: 50px;">All Members</h1>
    </div>
    <div class="container all">
        <div class="row">
            <div class="col-md-6">
                <div class="card all_card">
                    <img src="https://i.ibb.co/nz8jrwW/1st-yr.jpg" class="card-img-top"
                        alt="..." class="all_image">
                    <div class="card-body all_body">
                        <h5 class="card-title">1st Years</h5>
                        <p class="card-text">
                        </p>
                        <a href="/members/firstyrs" class="btn btn-primary more" style="padding: 10px;">view</a>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="card all_card">
                    <img src="https://i.ibb.co/fMct9t2/2ndyr.jpg" class="card-img-top"
                        alt="..." class="all_image">
                    <div class="card-body all_body">
                        <h5 class="card-title">2nd Years</h5>
                        <p class="card-text">
                        </p>
                        <a href="/members/secondyrs" class="btn btn-primary more" style="padding: 10px;">view</a>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="card all_card">
                    <img src="https://i.ibb.co/6ZKQSJD/3rd.jpg" class="card-img-top"
                        alt="..." class="all_image">
                    <div class="card-body all_body">
                        <h5 class="card-title">3rd Years</h5>
                        <p class="card-text">
                        </p>
                        <a href="/members/thirdyrs" class="btn btn-primary more" style="padding: 10px;">view</a>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="card all_card">
                    <img src="https://i.ibb.co/Kq5j4CX/4th-yr-pic.jpg" class="card-img-top"
                        alt="..." class="all_image">
                    <div class="card-body all_body">
                        <h5 class="card-title">4th Years</h5>
                        <p class="card-text">
                        </p>
                        <a href="/members/fourthyrs" class="btn btn-primary more" style="padding: 10px;">view</a>
                    </div>
                </div>
                </div>
        </div>
    </div>  
</main>

<%- include("../partials/footer.ejs") %>