<%- include("../partials/header.ejs") %>
<main>
    <div class="container all">
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" class="card-img-top"
                        alt="...">
                    <div class="card-body card_body">
                        <h5 class="card-title">1st Years</h5>
                        <p class="card-text">
                        </p>
                        <a href="/members/firstyrs" class="btn btn-primary more">view</a>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="card">
                    <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" class="card-img-top"
                        alt="...">
                    <div class="card-body card_body">
                        <h5 class="card-title">2nd Years</h5>
                        <p class="card-text">
                        </p>
                        <a href="/members/secondyrs" class="btn btn-primary more">view</a>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="card">
                    <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" class="card-img-top"
                        alt="...">
                    <div class="card-body card_body">
                        <h5 class="card-title">3rd Years</h5>
                        <p class="card-text">
                        </p>
                        <a href="/members/thirdyrs" class="btn btn-primary more">view</a>
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                <div class="card">
                    <img src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg" class="card-img-top"
                        alt="...">
                    <div class="card-body card_body">
                        <h5 class="card-title">4th Years</h5>
                        <p class="card-text">
                        </p>
                        <a href="/members/fourthyrs" class="btn btn-primary more">view</a>
                    </div>
                </div>
                </div>
        </div>
    </div>  
</main>

<%- include("../partials/footer.ejs") %>