<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/w61rKc1/DSC-0333.jpg" alt="" style="box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Alfresco SIG 2020</h1>
        <hr>
        <p class="lead events_para">
            After an amazing Juego SIG there was a huge anticipation for the Alfresco SIG, students had been asking everyone when
            the Alfresco members are going to hold their SIG and we didn’t disappoint. Within a week the Alfresco members held their
            SIG and pulled it off amazingly well. Held in the nescii lawns at 12 in the noon you wouldn’t expect a lot to show up
            but a multitude of people showed up and played and enjoyed games expertly curated by the members. An unprecedented crowd
            of more than 300 appeared making this event of ours the most attended ever which set ‘some’ standards in terms of the
            level we have set for our events and how much effort we shall put in our future events to match the same level of
            success!
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>