<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/BrBgFcX/alfmok.jpg" alt="" style="box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Moksha 2019 (Alfresco)</h1>
        <hr>
        <p class="lead events_para">
            Venatus—The Gaming Society of NSUT organized it's Moksha Event- "The PokéBall Hoopla" which was a great success in terms
            of footfall and crowd management.PokéBall Hoopla included a diverse range of mini games based on different Pokémon
            types- from water gun shooting to cognitive games. It was a complete package in itself and every game was given a twist
            by putting Pokémon strengths to play. Massive crowd of students thronged in pairs for exciting prizes that were
            distributed to the winners. PokéBall Hoopla had successful sponsors including Aimbot ,Burger Club and B-Natural. The
            participants enjoyed each game to the fullest and several positive feedbacks were received.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>