<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/HYFTTyS/gcl.jpg" alt="" style="box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">GCL - Gamers Changing Lives</h1>
        <hr>
        <p class="lead events_para">
            VENATUS - The gaming society of NSUT, organised a fundraiser event GCL - Gamers Changing Lives, to raise funds for the
            underprivileged men and women suffering during this lockdown. The event spanned over four days from April 3 to April 6.
            A nominal entry fee was charged per each team. All the proceeds from the entry fees were donated for the pious
            cause.Cognisant of the social distancing during this lockdown we made sure that all the games were played online. The
            participation was huge, more than 400 players which makes up about 70 teams donated and played their favourite games
            online. An amount of ₹6200 was raised from the event which was transferred directly to the NGOs Uday foundation and
            Feeding India.We at VENATUS were delighted and enthralled to witness the sheer zeal and intensity with which the
            participants played the games and volunteered for the noble cause.By making this trivial yet honest effort, VENTAUS
            tends to exude a sense of belief by invigorating the helpless so that they may also feel secure and come up strong from
            this catastrophe. Stay strong, good times lie ahead. 
            <br>
            #GameOn
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>