<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/rFCqKq6/facebook-1584302423556.jpg" alt="" style="box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Innovision 2019</h1>
        <hr>
        <p class="lead events_para">
            Innovision is the indoor gaming event which is organised by Venatus every odd semester. The 2019 Inno was brilliantly
            executed and large number of students attended the event to play the games they dearly love and enjoy. It was a two day
            event and we were given access to the new block to conduct our event . We had games like FIFA , PUBG and CSGO. More than
            200 students attended our event making it a success; Innovision was one of our best events in the odd semester as we saw
            humongous participation each of the two days. FIFA was the most played game at the event and the winners were given
            coupons and gaming accessories.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>