<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/B4LhXrZ/facebook-1584302551917.jpg" alt="" style="box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Juego SIG 2020</h1>
        <hr>
        <p class="lead events_para">
            The everyday hectic college life is going on and students are tired of their 10-5 classes, they desperately need
            something to lighten up their mood and guess what we at Venatus come up with the Juego SIG - RETRO GAMING. This unique
            idea was never implemented before in any event by Venatus and definitely proved to be a game changer.Students showed up
            in insane numbers to play nostalgic games such as all time favourite Road Rash, Tekken 3, Cricket 07 and Dr Driving.
            Students even skipped their classes to attend our event making it an absolute success. The winners were given canteen
            coupons and there was joy all around. A crowd of more than 250 appeared making it one of the best SIGs to have even been
            hosted by any society.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>