<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/G767VpB/IMG-20191019-WA0031.jpg" alt="" style="box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Moksha 2019 (Juego)</h1>
        <hr>
        <p class="lead events_para">
            Juego organised their Moksha event - ‘AIMBOT 2019’ which saw surreal participation and an amazingly positive response.
            We had various high profile games like FIFA 19, CSGO , PUBG and NFS which drew masses towards us like bees to honey.
            Some of the best players from Delhi showed up to provide an impetus to an already successful ongoing event.The
            participants thoroughly enjoyed and put everything on line as the competition was stiff. The winners were given Razor
            gaming accessories. Our sponsors Burger Club, B Natural among several others were extremely happy with us to see a
            mammoth participation of more than 500. The feedback was positive and there was joy all around.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>