<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/k8gHzNW/image10.jpg" alt="" style="box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Matdaan 2019</h1>
        <hr>
        <p class="lead events_para">
            It was February and though general elections were far away the Election Committee wanted to raise awareness among
            college students, the importance of voting. Venatus was one of the only five societies to have been funded by the
            Election Commission itself for the event. The event was held at the Admin block and had various intriguing games such as
            an election based Jigsaw puzzle, blindfolded Word formation, Electionary which is basically Pictionary using specific
            election terms. But the highlight of our event was our Voting booth imitation which was kept at the main entrance of the
            Admin block, students could vote for their favourite superhero(as we were not allowed to take political partys’ names),
            covered with cafe curtains this beautiful setup attracted students in large numbers, those who voted had a fake
            electoral ink applied to their forefingers and gave a proper Election vibe. This event was an instant success, we are
            applauded by various teachers and we promised that we would never shy away in the future to take up such opportunities
            to show what Venatus can do as a society.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>