<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/Rz4P6wW/Adi-Bakshi28.jpg" alt="" style="box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Aditya Bakshi 
            <br>
            POR: Mentor
        </h1>
        <hr>
        <p class="lead events_para">
        Engineering is like sex, everybody have their own views on what's its like but you won't truly understand how it feels
        until you actually do it ! NSIT was never my choice but I wanted to opt for ECE. I always thought I had settled and
        deserved better, but little did I know that what I had would turn out to be even better than what I initially desired .
        After 4 years I regret opting ECE but I am glad about NSIT. Staying at hostel while being just an hour away from home
        gave me the best of both worlds. Those thought provoking night walks, silly mess table talks, movie and game night
        provided enough motivation to endure gruesome curriculum. I would miss those desperate stares in exam hall conveying how
        well I had prepared. It is also difficult to forget those malfunctioning practical equipment posing a question on my
        skills as an engineer. There is one very special thing which needs a special mention when talking about college
        experience, that is 'Venatus'. It is not just about societal work and fun meets. It is about some special people I met
        there and something that united us to create a special bond. I felt sad about leaving school but it's not the same about
        college. I have grown to accept change and feel excited for what's next.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>
