<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/cQbvGyk/IMG-20191223-WA0000-Arshia-Kaul.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Arshia Kaul
            <br>
            POR: Alfresco Event Management Head
        </h1>
        <hr>
        <p class="lead events_para">
            It makes me giddy with excitement to write this note because honestly, why wouldn't it? After all, it was because of the
            Venatus family that I finally got a new lease of life. It's hard to articulate all my emotions in a single note, but
            I'll give it a shot. To me, Venatus is so much more than just a gaming society. There are no fetters or shackles to hold
            you back. It's a place where I have been able to give a free run to my imagination- from Marvel and Pokémon themed
            events to our own version of team building activities- it has been a rollercoaster. It's like if you have a stress
            called 'college', then Venatus is the medication for you. This place blessed me with a crazy bunch of friends, spending
            time with whom has always given me immense pleasure. Venatus turned me from a suicidal idiot into a vivacious girl who
            has never been more in love with life and for that, I'll always be wholeheartedly grateful.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>