<%- include("../../partials/header.ejs") %>
Ashir Raza Malik<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/w7T01w1/IMG-20200119-161553-Ashir-Malik1111.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Ashir Raza Malik
            <br>
            POR: Ultimate God King, Juego
        </h1>
        <hr>
        <p class="lead events_para">
            Ahh, where do I begin, college life has always been a more complicated affair for me than most, or so I believe. NSIT
            has been a turning point in my life, no doubt and through the years I've grown as a person and I have found myself
            transitioning from being the mentee to mentor in most phases of life. Challenges have been abundant and there seldom are
            things that can placate you the way a good society and great bunch of juniors and fellow seniors can. It's been a
            pleasure being a part of Venatus, from all the little events we started off with to the full-fledged tourneys this
            society is now capable of. I have seen people grow here and seen them change for the better. This post is as much for
            the talented minds behind the society's success as it is for me. Kudos to all of you.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>