<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/rccYgQg/IMG-20200427-113916-340-Hari-Karki.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Hari Karki
            <br>
            POR: Director, Juego
        </h1>
        <hr>
        <p class="lead events_para">
            These 4 years went through in a blink of an eye and here I am in the final stage of my college life , trying to cherish
            all the memories and moments I have spent in this college. Its been a roller coaster ride and has made me a changed
            person. Venatus plays a crucial role in my college life and I am so grateful to be a part of this wonderful society ,
            the official gaming society through which we not only nurtured young gamers but successfully managed god level esports
            tournaments across Delhi.
            <br>
            #JaiVenatus
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>