<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/tKGwP9d/DSC-0066-Hritik-Ramchander-Harbhla.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Hritik Harbhla
            <br>
            POR: Production
        </h1>
        <hr>
        <p class="lead events_para">
            I still remember the day we all sat in the mini audi ready to join the society and having a heated conversation about
            console vs PC gaming. We all have come a long way from then and we all have grown an unfathomable amount. My only
            motivation to join the society back then was my friends, but I realized that there was a lot more in store for me. I
            joined in as an event organizer but soon enough switched over to the production department. It was an amazing
            opportunity back then as I learnt about graphic designing and cinematography and I could not have done it without the
            help of two incredible people Utkarsh and Apoorv. I cherish all the memories that remain from this wonderful journey -
            from the regular team building exercises during the meets which we all loved to hate on but also secretly enjoyed, to
            the massive events that we organised over the years and made Venatus into what it is today. Venatus was a rollercoaster
            ride I enjoyed thoroughly and it defined a significant part of my NSIT experience.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>