<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/h2DH8gY/Manali-Kundan-Kumar.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Kundan Kumar
            <br>
            POR: Juego Event Management Team
        </h1>
        <hr>
        <p class="lead events_para">
            Four years of B.E coming to an end, I'm lucky to have been part of something that makes saying Goodbye so tough. I'm
            already missing begging teachers for attendance and the all-nighters we used to pull off during exams. Ultimately when
            I'll look back at my time in this college, it's the people I'll remember the most, the friends I've made for a whole
            lifetime and the echoes of the never ending laughs. Venatus is one of the best thing that happened to me in college.
            From organizing the first event of Aimbot, making videos for orientation, skipping the meets and then discussing the
            minute of meet at Mccain, I never realized we were creating moments. Can't forget to mention what Venatus has given me:
            Some amazing people to take along. I would sign off by saying that the past 4 years for me have been about moving out of
            comfort zone and doing things that I never imagined I’d be able to do.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>