<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/zmFynZZ/Screenshot-20200601-005654-Mitali-Aahar-Rajput.png" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Mitali
            <br>
            POR: Event Management Head, Alfresco
        </h1>
        <hr>
        <p class="lead events_para">
            On the very first day of college, I was running late for my first class and I literally ran(LOL) to reach the class only
            to notice a random bunch of seniors sitting in my class. Having got to know about them belonging to different branches
            and societies, the very first question that came to my mind was ' How these people belonging to different branches
            became such good friends? ' Well, I got my answer when I joined VENATUS. From giving interviews to one of my own
            batchmates about “team-building exercises” to taking interviews together; from getting various pizza parties to giving
            parties to juniors; from having brainstorming sessions and organising events to successfully managing numerous events;
            from doing all the crafts work to giving orders; from meeting wonderful juniors to being called DIDI and having my
            weirdest stickers made(p.s. I hate you bitches); my journey with Venatus has been delightful. Venatus has surely given
            me friends for life and juniors who I will definitely miss. Thank you Venatus for being such an integral part of my
            college life and teaching me that for something to become great, collective effort and determination are important. Hope
            that Venatus reaches even greater heights in the coming years. #GAME_ON! Signing off, Your very own Mitsy.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>