<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/W52mSTS/FB-IMG-1589661319418.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Prajjwal Singh Chauhan
            <br>
            POR: Event Management
        </h1>
        <hr>
        <p class="lead events_para">
            "Part of the journey is the end"- Tony stark(Avengers endgame). Well, to be honest, I don't want this journey to end.
            But as I look back at this journey - a journey that started out with hesitant, tentative steps, I see just how far we
            have progressed. It has been an honor and a privilege being a part of this journey and one which has been filled with
            wonderful memories. I remember the first day, I walked inside the ECE block which is super confusing for a fresher. And
            when I looked around I found a bunch of other students who were looking as confused as me and from there I found my
            squad (N.W.A). I was lucky to have such great friends in my college and the days which I spent with them were just
            simply awesome. 100m race challenges, Combined birthday parties (because of the size of the group). The same order
            (chili potato and mixed sauce pasta) with the same people at Mccain, but hardly the same memories. Grilling, roasting,
            making fun of others, The evening workout session at the college's gym. Then in the second year, We all started Venatus
            and organized various events, Having fun at those events, especially Apoorv's team-building exercise, lol. We had our
            ups and downs. My first taste of reality was Life of an NSIT's Student is NOT EASY. Ittne assignment, attendance,
            internal, external yeh voh. But Everything that happens in our lives is not always happy things. life treats you good
            and badly at different times in different ways. I have done very embarrassing dares, I have made a spoof video. Going
            into NSIT I have realized that not every day will be good. So I tried to enjoy every day. I have made some good, some
            bad memories. I took every bad experience as a teaching moment and learned from it. Sometimes I let my studies slack but
            didn't forget to experiment and try new things on campus and off. Lastly, made lots of friends, also lost some, it’s
            usually for the best. How lucky I am to have known someone who was so hard to say goodbye to. This is quite my favorite
            of all the goodbyes, it is so bittersweet. We will meet again and hoping to do farewell together because life gives a
            2nd chance. And abhi Mere pe do dare hai toh judge mat karna signing off.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>