<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/GFS17S7/Priyansh-Chaturvedi.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Priyansh Chaturvedi 
            <br>
            POR: Sophomore Mentorship and Leading
        </h1>
        <hr>
        <p class="lead events_para">
            It feels exultingly enthralling to introduce myself as the one who was there from the genesis. BEing an ECE engineer I
            would define VENATUS as a notch filter which took me as a raw input and processed me out as a confident, amicable team
            player. Reminiscence of moments and memories of VENATUS never fails to put a broad smile on my face. Here I discovered
            what true team spirit looks and feels like. here i met the best of friends rather a family which made every hurdle look
            like a puddle. All the meets and all the post event pizza parties, all the roasting sessions- virtual and physical, all
            the ideation sessions and the super fun executions are etched in my mind forever. I can not put anything even remotely
            close to being as fun as this society has been for me. From starting off by calling Apoorv-"sir" to calling him "the
            giant", "the never ending wikipedia" and mostly by invectives I realized that it was his never ending zeal and
            persistence which animated this society from being a concept to becoming a reality. NSIT had been a great voyage but
            VENATUS made the sailing worth it!
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>