<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/HFDrW6b/IMG-20200130-231144-Saksham-Singh.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Saksham Singh
            <br>
            POR: Senior Execomm
        </h1>
        <hr>
        <p class="lead events_para">
            "Safar khubsoorat hai manzil se bhi". It's been a rollercoaster ride here at NSIT (never NSUT). To be honest, I've had
            my fair share of both good and the bad memories. From make life long friends to some of the snakes in college, I've seen
            them all. Ofcourse I'll miss this place as I've learnt a lot during this journey. It's not easy to sum up my 4 years in
            words. But when I joined Venatus in my 2nd year, it was great to be part of the fam. Mimicking Hrithik Roshan, Faction
            wars and my eternal love for Dota 2 will be the memories I'll cherish and will stay with me forever. Thank you all for
            everything and wish you all best of luck for your future endeavours!
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>