<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/znjf84Q/498d052c-b3af-40dd-86f3-eb851d74a611.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Siddhant Sagar
            <br>
            POR: Juego Event Management
        </h1>
        <hr>
        <p class="lead events_para">
            It was a fun experience, I met a lot of new people, made new friends. Venatus EM was my first experience of any kind of
            management, I learnt a lot by the events we held and gained confidence. I met people many who I could connect with and
            play games with. All in all, I really had fun!
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>