<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/3WxkLSG/new3-Stalin-Subash.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Stalin Subhash
            <br>
            POR: Juego Event Management
        </h1>
        <hr>
        <p class="lead events_para">
        Who would have thought NSUT will change my life for good, an irresponsible clumsy person like me becoming what I am
        today, NSUT has not only made me a responsible man but has also taught me many things. I won't forget the memories I
        made here, the friends I made along the way. Venatus was an important part of my life in NSUT and I am grateful to be a
        part of such an amazing society. I will cherish each and every moment spent with Venatus, be it the tournaments we
        hosted or those all night gaming sessions. Life with Venatus was mostly a smooth sailing until ‘ 北方话’joined the server
        and poped everyone.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>