<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/7gQX8JF/IMG-20200622-124557-Swatantra-Ank.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Swatantra Ank
            <br>
            POR: Director, Alfresco
        </h1>
        <hr>
        <p class="lead events_para">
            If my college life was a wave function, it would be sinusoidal. Writing this down I'm filled with all kinds of emotions.
            I came to this college with very high expectations and big dreams. The reality became clear in a matter days. There were
            times when I found myself struggling to get through the day and then there were times when I didn't want the day to end.
            There are a million things that I will miss and I don't know how to say good-bye to them. Venatus fam ! I am proud to be
            a part of the never ending journey that started with a group of 4 sophomores and became the beautiful family it is
            today. I'll miss our little meets, the intra soc games, the SIGs the parties and the ultimate backchodi on /b. I'll
            definitely not miss the team building exercises for obvious reasons. With every passing year I met talented and annoying
            people who became a part of the family. If I had the chance to do it all over again, I wouldn't change anything.....
            Alright maybe a few things. With this, the love-hate relationship with NSIT comes to an end, leaving me with bittersweet
            memories that I'll cherish for lifetime. May the force be with you. Microice out.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>