<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/WVPQTh0/new-utsha-sinha.jpg" alt="" style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Utsha Sinha
            <br>
            POR: Head of PR
        </h1>
        <hr>
        <p class="lead events_para">
            NSIT se NSUT, Outside Delhi se Delhi aur IIIT se Vth block ke 145 acres is a major missing right now. From five people
            in a room to one, hostel life has taught me the best “atmanirbharta” techniques ever. From impromptu parties to
            sleepless nights, I can’t imagine my college life without hostel. Venatus ke meets me itni bakchodi ki I don’t really
            know how we pulled off events after that. #GameOn JC me change hote staff aur menu ke saath wohi same dost gave me the
            best memories of these four years. Engineering islia li thi ki 4 saal me khatam ho jayegi ab yehi 4 kam lag rhe hai.
            Running to the class on the first day of every semester to having chicken every Thursday night or chai after rain, i’ll
            cherish these college traditions forever. From alco-llenge to main gate se hostel at 9:28, these challenges made me a
            little less lazy every day. A friend once said to me “soch agar tu NSIT nahi aati to hum logo kaise milti”. A bunch of
            people with bigger hearts than their budgets on their birthday parties is the best thing NSIT gave me. With me, the
            unexpected happened here.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>