<%- include("../../partials/header.ejs") %>
<div class="container" style="margin-top: 100px;">
    <div class="jumbotron" style="text-align: center;">
        <img src="https://i.ibb.co/JxLyLQd/DSC-0096-21-Utkarsh-Kharayat.jpg" alt=""
            style="width: 50rem; box-shadow: 1rem 1rem 2rem rgba(0,0,0,0.2);">
        <h1 class="display-4 events_heading">Uttkarsh Kharayat
            <br>
            POR: Head Designer
        </h1>
        <hr>
        <p class="lead events_para">
            When I attended my first class of what would be my collage life little did I know it would take me on a journey that was
            filled with highs and lows. The only thing that was common in my schooling days and my college life was gaming, I was
            suprised and exited when I found out that one of my classmate was brave enough to open one, the rest is as they say
            history. Days that were spent making what would be the venstus logo selecting the color palette ( Yes the logo is
            "inspired" by team NaVi logo ),the setting up of events moving tables to simulate e-sports vobe, finding equipment were
            nothing but a small part of what we did, countless friendships forged, unforgettable moments lived.
        </p>
    </div>
</div>
<%- include("../../partials/footer.ejs") %>