<%- include("partials/header") %> 

<div class="container"  id="about">
    <div class="jumbotron">
    <h1 class="display-4">Our Story</h1>
    <img id="about_image" src="https://scontent.fdel6-1.fna.fbcdn.net/v/t1.0-9/53294721_474300106437971_1344319287564697600_o.jpg?_nc_cat=101&_nc_sid=dd9801&_nc_ohc=rdqOzsnNNlAAX8Pwps2&_nc_ht=scontent.fdel6-1.fna&oh=395eef66d578a12ea76b347585359753&oe=5F06387A" alt=""> 
    <p class="lead">
        VENATUS is the official gaming society of NSUT not to be mislead by the title.... 
    </p>
        <P>
        It's not just about 'video' gaming
        we have two divisions:- 
        <br>
        ALFRESCO - which means 'out in the open air'
        This part includes outdoor games, much games like treasure hunts and sports. This section is included so that we can participate in various fests involving Gaming.
        <br>
        JUEGO - which means 'Moving Game'
        This part include classic indoor gaming on various platforms. We will support gaming on PC, Xbox One, PS4 and Android smart phones.
        Moreover, if decided by the group board games will also be included.
        </P>
        <p>
            Venatus is known to provide high-end ggear for event management and create major events attracting crowd form outside Delhi as well. Our gamers have been very notable in the gaming competitions held throughout Delhi, retaining their lead in every major tournament. WE have previously collaborated with the Education Tree, DewArena, Paradise Ganers, Burger King, Battle Groups Cafe, Nexus gaming cafe, Nodwin gaming, Immortal Gaming Cafe, among many others. WE keep two annual events
            year on our college campus, namely: AIMBOT for Esports and SEEK: for outdoors. As a nonprofit organization, we have managed to raise over 5.6lakh rupees in a period of 3 years and 90% was reinvested to provide quality service and gaming platform. 

            The society organizes a recruitment drive every year in the month if August, focusing on building a reliable, efficient, hard-working and motivated team to lead the society.

            The outdoor section has received sponsorship from big names like Zomato, Croma, Akash institute, among others. who provide prizes and logistics to carry out these events
            
            Lastly, Venatus also takes part in CSR. As a duty to out society -every year we organize one event for ethical social awareness or for helping economically backward children.

            In 2019, we organized MATDAAN as an election awareness campaign among our youth and it aimed at screaming awareness about the importance of voting and understanding the complete polling process.

            So aforementioned was a snapshot of life as a member of Venatus - The Gaming Society of NSUT, where we create a family-like atmosphere for all members -new and old alike, a place where everyone gets a chance to hone their skills in the four years of our college, a place where fun and learning never halts.
            #GAMEON
        </p>
    </div>
 </div>

<%- include("partials/footer") %>