<%- include("./partials/header.ejs") %>
<div class="container" style="margin-top: 100px">
    <div class="jumbotron devpara">
        <img src="https://i.ibb.co/KhPdYjJ/Sanskar-sharma.jpg" alt="" id="developer">
        <p>HI, I'm Sanskar Sharma. I'm a 2nd Year student of B.E. in Instrumentation and Control Engineering at Netaji
           Subhas University of Technology(Formerly known as Netaji Subhas Institute of Technology(NSIT)).

        </p>
    </div>
</div>
<%- include("./partials/footer.ejs") %>