#about_image {
    background-blend-mode: screen;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    width: 100%;
}
.jumbotron {
    color: darkblue;
}
body {
    font-family: "Roboto", sans-serif;
    background: #041b2d; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #041b2d 53%, #2c6975 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right bottom,
        #041b2d,
        #2c6975
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    font-size: 1.2rem;
    color: white;
    width: 100% !important;
}
.navbar {
    padding: 15px;
    margin-bottom: 100px;
    font-size: 2rem;
    background-color: #05243c;
}
.card {
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
    color: black;
    width: 95%;
    margin: 20px 20px 20px 0;
    border-left: 700px;
    border-right: 700px;
    border-top: 700px;
    border-bottom: 700px;
}
html {
    font-size: 62.5%;
}
#about {
    margin-top: 100px;
    margin-bottom: 50px;
}
#about h1 {
    text-align: center;
    font-weight: bold;
    font-size: 6rem;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #041b2d;
}
#about p {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: #041b2d;
}
.navbar-brand {
    font-size: 2rem;
}
/* BOX SHADOW MAIN BLUR BHI DIA KR */
.jumbotron {
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
}
.dropdown-menu {
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
    background-color: #004e92;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

#vidaai {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-link {
    margin-right: 5px;
    color: white;
}
.nav-link:hover {
    color: #004e92;
}
.navbar-brand {
    color: white;
}
.navbar-brand:hover {
    color: #004e92;
}
.card img {
    width: 100%;
    border-top: none;
    /* Raghav */
    /* USE rem on images */
    height: 25rem;
}
/* .card {
    Raghav
    TRY TO USE REM, maine html main 1 rem = 10px define kr rkha hai, calculate kr ke use krlo, bta dunga kyun */
/* height: 45rem; */
/* /* 550 px / 10 == 55rem */
/* } */
.firstyr img {
    width: 100%;
    border-top: none;
    height: 425px;
}
.firstyr {
    height: 65rem;
}
.secondyr img {
    width: 100%;
    border-top: none;
    height: 425px;
}
.secondyr {
    height: 66rem;
}
.thirdyr img {
    width: 100%;
    border-top: none;
    height: 425px;
}
.thirdyr {
    height: 630px;
}
.fourthyr img {
    width: 100%;
    border-top: none;
    height: 425px;
}
.fourthyr {
    height: 640px;
}
.gallery img {
    height: 48.9rem;
    width: 48.9rem;
}
.display-2 {
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 40px;
}
#gameon {
    text-align: center;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.btn-floating {
    color: white;
}
.btn-floating:hover {
    color: white;
}
#landingpara {
    margin: 50px 50px 50px 50px;
    font-size: 1.6rem;
}

.flex-center {
    text-align: center !important;
    margin: 20px 20px 20px 20px;
}
.slanted {
    transform: skewY(-4deg);
    margin-top: 50px;
}
.slanted p {
    transform: skewY(4deg);
    text-align: center;
}
.slanted h1 {
    transform: skewY(4deg);
    text-align: center;
}
.contact {
    text-align: center;
}
.contact p {
    font-size: 1.6rem;
}
.carousel {
    margin-top: 100px;
}
#found {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 2px;
}
.founder {
    margin-top: 40px;
}
#foundercard {
    height: 100%;
}
.gallerys {
    margin-top: 25px;
    height: 100%;
    width: 100%;
}
.gallery {
    margin: 25px 10px 25px 10px;
}
.cores {
    margin-top: 50px;
}
.directors {
    margin-top: 50px;
}
.execomm {
    margin-top: 50px;
}
.all {
    margin-top: 50px;
}
    /* .all_card {
        height: 52rem;
        width: 42rem;
    } */
.all_body {
    font-size: 5rem !important;
    height: 13rem !important;
}
.all_image {
    height: 10rem !important;
    width: 10rem !important;
}
.firstyrs {
    margin-top: 50px;
}
.secondyrs {
    margin-top: 50px;
}
.thirdyrs {
    margin-top: 50px;
}
.fourthyrs {
    margin-top: 50px;
}

.card-title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.6rem !important;
}
.card-body {
    font-size: 1.6rem !important;
    text-align: center;
    height: 25rem;
    background-color: #05243c;
    color: white;
}
.vidaais {
    margin-top: 25px;
}
.vidaai_text {
    height: 61rem;
}
.past {
    margin-top: 100px;
}
.pasteve {
    margin-bottom: 20px;
    /* FOR CLIPPING TEXT */
    min-height: 55rem;
}
/* FOR CLIPPING TEXT */
.card-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    margin-bottom: 2rem;
}
.btn {
    background: -webkit-linear-gradient(to right bottom, #041b2d 53%, #2c6975 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right bottom,
        #041b2d,
        #2c6975
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius: 100px;
    /* Raghav */
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    border: none;
    font-size: 1.6rem;
    transition: all 0.2s;
    /* Align the button in the center */
}
/* .btn {
    padding: 0.8rem;
} */
/* Raghav */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
}
/* Raghav */
.btn:active {
    transform: translateY(-1px);
    box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
/* Raghav */
/* Remove the blue color when i click on the button*/
.btn-primary {
    border: none;
}

#gall {
    font-size: 4rem;
    font-weight: bold;
}

/* #found:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
} */
#vid {
    font-size: 4rem;
    font-weight: bold;
}
.future {
    margin-top: 100px;
}
.card_body {
    height: 10.5rem;
    background-color: #05243c;
}
.card_title {
    margin-top: 5px;
    margin-bottom: 5px;
}
::selection {
    background-color: #004e92;
    color: #efefef;
}
.nav-link:hover,
.nav-link:active {
    color: #36808f;
}
.navbar-brand:hover,
.navbar-brand:active {
    color: #36808f;
}
.dev {
    color: white;
    margin-top: 15px;
    padding: 10px;
    text-transform: none;
}
.dev:hover {
    color: white;
}
#developer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 370px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    height: 45rem;
}
.devpara{
    color: #041b2d;
    font-size: 1.8rem;
}
/* RAGHAV */
/* For dropdown width */
.dropdown-menu {
    width: 300px !important;
}
.play {
    width: 300px;
    height: 120px;
}
.foun_butt {
    margin: 5px;
    color: white;
}
.foun_butt:hover {
    color: white;
}
.fa-linkedin {
    color: white;
}
.fa-linkedin:hover {
    color: white;
}
.fa-facebook {
    color: white; 
    margin-bottom: 10px;
}
.fa-facebook:hover {
    color: white;
}
.events_heading {
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #041b2d;
}
.events_para {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #041b2d;
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}