#about_image {
    box-shadow: 5px 5px rgba(0, 0, 0, 0.35);
    width: 100%;
}
.jumbotron {
    color: darkblue;
}
body {
    font-family: "Roboto", sans-serif;
    background: #000428; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right bottom, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right bottom,
        #000428,
        #004e92
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    font-size: 1.2rem;
    color: white;
}
.navbar {
    padding: 15px;
    margin-bottom: 100px;
    font-size: 2rem;
    background-color: #000428;
}
.card {
    box-shadow: 5px 5px black;
    color: black;
    width: 95%;
    margin: 20px 20px 0 0;
    border-left: 700px;
    border-right: 700px;
    border-top: 700px;
}
html {
    font-size: 62.5%;
}
#about {
    margin-top: 100px;
    margin-bottom: 50px;
}
#about h1 {
    text-align: center;
    font-weight: bold;
    color: black;
    font-size: 6rem;
    letter-spacing: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
}
#about p {
    font-size: 1.6rem;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.navbar-brand {
    font-size: 2rem;
}
.jumbotron {
    box-shadow: 5px 5px black;
}
.dropdown-menu {
    text-overflow: ellipsis !important;
    white-space: nowrap;
    overflow: hidden;
    width: 100px;
}
#vidaai {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-link {
    margin-right: 5px;
    color: white;
}
.nav-link:hover {
    color: #004e92;
}
.navbar-brand {
    color: white;
}
.navbar-brand:hover {
    color: #004e92;
}
.card img {
    width: 100%;
    border-top: none;
    /* Raghav */
    /* USE rem on images */
    height: 21rem;
}
.card {
    /* Raghav */
    /* TRY TO USE REM, maine html main 1 rem = 10px define kr rkha hai, calculate kr ke use krlo, bta dunga kyun */
    height: 55rem;
    /* 550 px / 10 == 55rem */
}
.firstyr img {
    width: 100%;
    border-top: none;
    height: 425px;
}
.firstyr {
    height: 600px;
}
.secondyr img {
    width: 100%;
    border-top: none;
    height: 425px;
}
.secondyr {
    height: 625px;
}
.thirdyr img {
    width: 100%;
    border-top: none;
    height: 425px;
}
.thirdyr {
    height: 600px;
}
.fourthyr img {
    width: 100%;
    border-top: none;
    height: 425px;
}
.fourthyr {
    height: 600px;
}
.gallery img {
    height: 100%;
}
.display-2 {
    font-weight: bold;
    text-align: center;
    color: black;
    margin-bottom: 40px;
}
#gameon {
    text-align: center;
}
hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.btn-floating {
    color: white;
}
#landingpara {
    margin: 50px 50px 50px 50px;
    font-size: 1.6rem;
}

.flex-center {
    text-align: center !important;
    margin: 20px 20px 20px 20px;
}
.slanted {
    transform: skewY(-4deg);
    margin-top: 50px;
}
.slanted p {
    transform: skewY(4deg);
    text-align: center;
}
.slanted h1 {
    transform: skewY(4deg);
    text-align: center;
}
.contact {
    text-align: center;
}
.contact p {
    font-size: 1.6rem;
}
.carousel {
    margin-top: 100px;
}
.founder {
    margin-top: 20px;
    overflow: hidden;
}
.gallery {
    margin-top: 25px;
}
.cores {
    margin-top: 100px;
}
.directors {
    margin-top: 100px;
}
.execomm {
    margin-top: 100px;
}
.all {
    margin-top: 100px;
}
.firstyrs {
    margin-top: 100px;
}
.secondyrs {
    margin-top: 100px;
}
.thirdyrs {
    margin-top: 100px;
}
.fourthyrs {
    margin-top: 100px;
}
.execomms {
    height: 500px;
}
.card-title {
    font-size: 1.4rem !important;
}
.card-body {
    font-size: 1.4rem !important;
}
.vidaais {
    margin-top: 25px;
}
.vidaai_text {
    height: 1500px;
}
.past {
    margin-top: 100px;
}
.pasteve {
    margin-bottom: 20px;
    height: 1000px;
}
.btn {
    background: -webkit-linear-gradient(to right bottom, #000428, #004e92); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right bottom, #000428, #004e92);
    border-radius: 100px;
    /* Raghav */
    text-transform: uppercase;
    padding: 1.5rem 4rem;
    font-size: 1.6rem;
    transition: all 0.2s;
    /* Align the button in the center */
}
/* Raghav */
.btn:hover {
    transform: translateY(-3px);
    box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.2);
}
/* Raghav */
.btn:active {
    transform: translateY(-1px);
    box-shadow: 1rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
/* Raghav */
/* Remove the blue color when i click on the button*/
.btn-primary {
    border: none;
}

#gall {
    font-size: 4rem;
    font-weight: bold;
}
#found {
    font-size: 4rem;
    font-weight: bold;
}
#vid {
    font-size: 4rem;
    font-weight: bold;
}
